body{
	min-width: 1280px;
	overflow-x: hidden; 
}
p,div{
	padding: 0;
	margin: 0;
}
.no-border{
	border: none!important;
}
.content{
	border-radius: 5px;
	padding: 10px 20px 20px;
	overflow: hidden;
	min-height: calc(100vh - 120px);
}
.content-warpper-right{
	background: #fff;
}
.mr-bot20{
	margin-bottom: 20px;
}
.mr-top20{
	margin-top: 20px;
}
.mr-lt20{
	margin-left: 20px;
}
.mr-rt20{
	margin-right: 20px;
}
.mr-t5{
	margin-top: 5px;
}
.pad-t20{
	padding-top: 20px;
}
.pad-b20{
	padding-bottom: 20px;
}
.pad-l20{
	padding-left: 20px;
}
.pad-r20{
	padding-right: 20px;
}
.mr-bot20{
	margin-bottom: 20px;
}
.mr-top20{
	margin-top: 20px;
}
.mr-lt20{
	margin-left: 20px;
}
.mr-rt20{
	margin-right: 20px;
}
.mr-t5{
	margin-top: 5px;
}
.pad-t20{
	padding-top: 20px;
}
.pad-b20{
	padding-bottom: 20px;
}
.pad-l20{
	padding-left: 20px;
}
.pad-r20{
	padding-right: 20px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.hide{
	opacity: 0;
}
.show{
	opacity: 1;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.clear{
	clear: both;
}
.content .content-warpper{
	margin-left: 20px;
	width: calc(100vw - 280px);
	height: 100%;
}
.content .content-box-card>.el-card__body{
	padding: 0!important;
}

.content .cu-border{
	border: 1px solid #d8d8d8;
	background: #fff;
}

/*   图片滚动    */
.banner-wrapper {
	overflow: hidden;
	position: relative;
	height: 339px;
}
.banner-wrapper>div{
	/*width: 2000%;*/
	position: relative;
	height: 100%;
}
.banner-wrapper .banner-inner {
	display: flex;
	float: left;
	height: 100%;
}
.banner-wrapper img{
	float: left;
	height: 100%;
	width: 100%;
}
.banner-wrapper .round-inner{
	position: absolute;
	bottom: 2rem;
	text-align: center;
	width: 100%;
}
.banner-wrapper .round-inner span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 100%;
	background: rgba(255,255,255,.7);
}
.banner-wrapper .round-inner span.active{
	background: #fff000;
}
.ce-pagination{
	text-align: right;
}
.warning-message{
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: calc(50% - 25px);
    line-height: 50px;
    left: calc(50% - 100px);
    width: 200px;
    background: #40363652;
    color: #fff;
    font-size: 18px;
}
.el-menu-manage{
	width: 60px;
}
.fill-width {
	width: 100%;
}